@import "tailwindcss";

.clip-path-hexagon {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

body {
  background-color: #fbf8ee;  /* This is the Tailwind amber-50 color */
}
